@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap");

.coin-container {
    display: flex;
    justify-content: center;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Update this line to space-between to distribute the elements evenly */
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
    transition: box-shadow 0.3s ease-in-out;
    font-family: 'Space Grotesk', sans-serif;
}

.coin-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.coin-search {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.coin {
    display: flex;
    align-items: center;
    flex: 1;
    /* Add this line to make the element grow according to its content */
}

.coin h1 {
    font-size: 16px;
    width: 150px;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol {
    text-transform: uppercase;
}

.coin-data {
    display: flex;
    text-align: right;
    justify-content: space-between; /* Add this line to distribute the elements inside the data container evenly */
    width: 100%;
    flex: 3; /* Add this line to make the element grow according to its content */
}

.coin-price {
    width: 110px;
    text-align: center;
    margin-right: 20px;
}

.coin-volume {
    width: 155px;
    text-align: center;
    /* Add this line */
}

.coin-marketcap {
    width: 230px;
    text-align: center;
    /* Add this line */
}

.coin-percent {
    width: 100px;
    text-align: center;
    /* Add this line */
}

.red {
    color: #f00606;
}

.green {
    color: #11d811;
}

.coin-row:hover {
  box-shadow: 0 0 10px #fff; /* Add this line to create the glow effect */
}

