.header {
  background-color: #a3a3b2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: 18px;
}

.site-name {
    font-weight: bold;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 16px;
}

.nav-links a:hover {
    color: #999;
}