.table-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-225deg,
            #ac32e4 0%,
            #7918f2 48%,
            #4801ff 100%);
    padding: 8px 0;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 900px;
    margin: 0 auto;
    /* Add this line to center the table header */
}

.header-coin-ticker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.header-coin-ticker>div {
    background-color: transparent;
}

.header-coin {
    width: 220px;
}

.header-ticker {
    width: 80px;
}

.header-price {
    width: 110px;
}

.header-volume {
    width: 155px;
}

.header-price-change {
    width: 100px;
    
}

.header-market-cap {
    width: 230px;
}

.table-header>div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: transparent;
}

