.table-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c41ec;
    padding: 8px 0;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 900px;
    margin: 0 auto;
    /* Add this line to center the table header */
}

.header-name,
.header-ticker {
    width: 300px;
    text-align: center;
    /* Add this line */
}

.header-price {
    width: 110px;
    text-align: center;
    /* Add this line */
}

.header-volume {
    width: 155px;
    text-align: center;
    /* Add this line */
}

.header-price-change {
    width: 100px;
    text-align: center;
    /* Add this line */
}

.header-market-cap {
    width: 230px;
    text-align: center;
    /* Add this line */
}

.table-header>div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: transparent;
}

